@(handler: be.objectify.deadbolt.scala.DeadboltHandler, row: Form[CreateCategoryForm])(implicit messages: Messages, request: Request[Any])
@import be.objectify.deadbolt.scala.views.html._
@import helper._

@main("Add") {
    @examples.templates.nav(handler)
    <div class="container">
        @restrict(roles = List(Array("productList"))) {
            <a href="/category_list/1" class="btn btn-primary btn-sm">@messages("toList")</a>
        }
    </div>
    @form(routes.CategoryController.add()) {
        @inputText(row("name"), 'id -> "name")
        @inputText(row("description"), 'id -> "description")
        <input id="addSubmit" type="submit" value=@messages("save") class="btn btn-primary btn-sm"/>
        <a href="category_list/1" class="btn btn-primary btn-sm">@messages("cancel")</a>
    }
}
