@(handler: be.objectify.deadbolt.scala.DeadboltHandler)(implicit messages: Messages, request: Request[Any])
@import be.objectify.deadbolt.scala.views.html._
@import helper._

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/cashier/productRequest_list">@messages("sells")</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/cart_show/1">@messages("cart")</a></li>
      <li><a id="customer_list" href="/cashier/customer_list/1">@messages("customers")</a></li>
      <li><a id="product_list" href="/cashier/product_list">@messages("products")</a></li>
    </ul>
  </div>
</nav>
<a href="/logout">@messages("singOut")</a> <br>
