@(handler: be.objectify.deadbolt.scala.DeadboltHandler, productRequest: ProductRequest, children: Seq[RequestRow], addCardRow: Form[AddCardForm], filterByCategoryForm: Form[FilterByCategoryForm], products: Seq[(Long, String)], categories: Seq[Category], totalPrice: Double)(implicit messages: Messages, request: Request[Any])
@import be.objectify.deadbolt.scala.views.html._
@import helper._

@main("view") {

    <div class="container">

        <button type="button" class="btn btn-primary btn-sm">Save Card</button>

        <script type="text/javascript">
            $("button").click(function() {
                $("#rows tbody tr").each( function(index, rowItem) {
                    var id = $($(rowItem).find("td")[0]).text();
                    var quantity = $($($(rowItem).find("td")[2]).find("input")[0]).val();
                    $.post( "/update_cardItems", { id: id, quantity: quantity}, function( data ) {
                        console.log(data);
                    });
                });
            });                             
        </script>

        @restrict(roles = List(Array("productRequestList"))) {
            <a href="/productRequest_list" class="btn btn-primary btn-sm">@messages("toList")</a>
        }
        @restrict(roles = List(Array("productRequestEdit"))) {
            <a href="/productRequest_update/@productRequest.id" class="btn btn-primary btn-sm">@messages("edit")</a> 
        }
        @restrict(roles = List(Array("productRequestDelete"))) {
           <a href="/productRequest_remove/@productRequest.id" class="btn btn-danger btn-sm">@messages("remove")</a>
        }
    </div>
    <div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="table table-bordered">
                <table class="table table-bordered" id="rows">
                    <thead>
                        <tr>
                            <th>@messages("id")</th>
                            <th>@messages("product")</th>
                            <th>@messages("quantity")</th>
                            <th>@messages("subTotal")</th>
                            <th>-----------</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(child <- children) {
                            <tr>
                                <td>@child.id</td>
                                <td>
                                    @restrictOr(roles = List(Array("productShow"))) {
                                        <a href="/product_show/@child.productId">@child.productName

                                    </a>
                                    }{
                                        @child.productName                                    
                                    }
                                </td>
                                <td><input type="text" name="quantity" value="@child.quantity" style="width: 100px;"></td>
                                <td>@child.totalPrice</td>
                                <td>
                                   @restrict(roles = List(Array("requestRowShow"))) {
                                       <a href="/requestRow_show/@child.id" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-eye-open"></span></a>
                                   }
                                   @restrict(roles = List(Array("requestRowEdit"))) {
                                       <a href="/requestRow_update/@child.id" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-pencil"></span></a> 
                                   }
                                   @restrict(roles = List(Array("requestRowDelete"))) {
                                       <a href="/requestRow_removeFromCard/@child.id" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></a>
                                   }
                                   @if(child.status != "entregado") {
                                    <a href="/requestRow_fill/@child.id" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-send"></span></a>
                                   }
                               </td> 
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                    <tr>
                      <td>Total</td>
                      <td></td>
                      <td>@totalPrice</td>
                    </tr>
                  </tfoot>
                </table>
            </div>
        </div>
        <div class="col-md-6 col-sm-12" style="background: white;">
            <div class="">
                @for(category <- categories) {
                    <div style="display: inline-block;">
                    @form(routes.CardController.filterByCategoryPost()) {
                        @inputText(addCardRow("categoryName").copy(value=Option(category.name.toString())), 'hidden -> "true", '_label -> "")
                        <button type="submit" class="btn btn-primary">@category.name</button>
                    }
                </div>
                }
            </div>
            @for(product <- products) {
                <div style=''>
                    @form(routes.CardController.addCardPost()) {
                        <div class="col-md-2 col-sm-3" style='background-image: url("http://localhost:8081/assets/images/@(product._1)_product.jpg"); height: 80px; display: inline-block; border-style: solid; border-width: 2px 2px 2px 2px; background-size: 100px 100px;'>
                            <span style="width: 20px; font-size: 10px;">@product._2</span>
                            @inputText(addCardRow("id").copy(value=Option(product._1.toString())), 'hidden -> "true", '_label -> "")
                            <button type="submit" class="btn btn-primary btn-xs" style="position: relative; top: -26px; left: 16px;"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                        </div>
                    }
                </div>
            }
        </div>
    </div class="row">
        <div class="col-md-2">
            <div style="display: inline-block;"> @messages("date"): </div>
            <div style="display: inline-block;" id="date">@productRequest.date</div>
        </div>
        <div class="col-md-2">
            <div style="display: inline-block;"> Employee: </div>
            <div style="display: inline-block;" id="employeeName">@productRequest.employeeName</div>
        </div>
        <div class="col-md-2">
            <div style="display: inline-block;"> Store: </div>
            <div style="display: inline-block;" id="storekeeperName">@productRequest.storekeeperName</div>
        </div>
        <div class="col-md-2">
            <div style="display: inline-block;"> @messages("status"): </div>
            <div style="display: inline-block;" id="status">@productRequest.status</div>
        </div>
    </div>
    <div>
        @restrict(roles = List(Array("requestRowCreate"))) {
            <div style="display: inline-block;"> <a id="addDetail" href="/requestRow_add/@productRequest.id" class="btn btn-primary btn-sm">@messages("addDetail")</a> </div>
        }
    </div>

    <div>Lista Detail of Order</div>
    <style>
        #categoryName_field {
            width: 0;
            height: 0;
            margin: 0;
            padding: 0;
        }
        #categoryName_field dt {
            width: 0;
            height: 0;
            margin: 0;
        }
    </style>
}
