@(handler: be.objectify.deadbolt.scala.DeadboltHandler, productRequest: ProductRequest, children: Seq[RequestRow], addCartRow: Form[AddCartForm], filterByCategoryForm: Form[FilterByCategoryForm], products: Seq[(Long, String)], categories: Seq[Category], totalPrice: Double)(implicit messages: Messages, request: Request[Any])
@import be.objectify.deadbolt.scala.views.html._
@import helper._

@main("view") {
    @navs.nav_cashier(handler)
    <div class="container">
        <button type="button" id="closeCart" class="btn btn-primary btn-sm">Close</button>

        <button type="button" id="saveCart" class="btn btn-primary btn-sm">Save</button>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#calculatorToPay">
            Pay
        </button>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#calculatorToReturn">
            Return
        </button>

        <div class="modal fade" id="calculatorToPay" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Pay Money</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <input type="number" id="incomeValue" value="0">
                        </div>
                        <button type="button" id="one" class="btn btn-primary btn-sm incomeValue">1</button>
                        <button type="button" id="two" class="btn btn-primary btn-sm incomeValue">2</button>
                        <button type="button" id="five" class="btn btn-primary btn-sm incomeValue">5</button>
                        <button type="button" id="ten" class="btn btn-primary btn-sm incomeValue">10</button>
                        <button type="button" id="twenty" class="btn btn-primary btn-sm incomeValue">20</button>
                        <button type="button" id="fifty" class="btn btn-primary btn-sm incomeValue">50</button>
                        <button type="button" id="hundred" class="btn btn-primary btn-sm incomeValue">100</button>
                        <button type="button" id="2hundred" class="btn btn-primary btn-sm incomeValue">200</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="incomeClear">Clear</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" id="incomeEnter">OK</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="calculatorToReturn" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="1exampleModalLabel">Return Money</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <input type="number" id="returnValue" value="0">
                        </div>
                        <button type="button" id="1one" class="btn btn-primary btn-sm returnValue">1</button>
                        <button type="button" id="1two" class="btn btn-primary btn-sm returnValue">2</button>
                        <button type="button" id="1five" class="btn btn-primary btn-sm returnValue">5</button>
                        <button type="button" id="1ten" class="btn btn-primary btn-sm returnValue">10</button>
                        <button type="button" id="1twenty" class="btn btn-primary btn-sm returnValue">20</button>
                        <button type="button" id="1fifty" class="btn btn-primary btn-sm returnValue">50</button>
                        <button type="button" id="1hundred" class="btn btn-primary btn-sm returnValue">100</button>
                        <button type="button" id="12hundred" class="btn btn-primary btn-sm returnValue">200</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="returnClear">Clear</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" id="returnEnter">OK</button>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            $("#saveCart").click(function() {
                if (confirm('Are you sure you want to save and close the cart')) {
                    $("#rows tbody tr").each( function(index, rowItem) {
                        var id = $($(rowItem).find("td")[0]).text();
                        var quantity = $($($(rowItem).find("td")[2]).find("input")[0]).val();
                        $.post( "/update_cartItems", { id: id, quantity: quantity}, function( data ) {
                            console.log(data);
                        });
                    });
                }
            });

            $(".returnValue").click(function(event) {
                $("#returnValue").val(parseInt($(event.target).text()) + parseInt($("#returnValue").val()))
            });

            $(".incomeValue").click(function() {
                $("#incomeValue").val(parseInt($(event.target).text()) + parseInt($("#incomeValue").val()))
            });

            function completeCalculation() {
                var incomeMoney = parseInt($("#incomeMoney").html());
                var returnMoney = parseInt($("#returnMoney").html());
                var totalMoney = parseInt($("#totalMoney").html());
                console.log(incomeMoney);
                console.log(returnMoney);
                console.log(totalMoney);
                if ((incomeMoney - returnMoney) === totalMoney) {
                    $("#payCompleted").html("Completed");
                } else {
                    $("#payCompleted").html("Not Completed");
                }
            }

            $("#incomeEnter").click(function() {
                $("#incomeMoney").html(parseInt($("#incomeValue").val()))
                completeCalculation();
            });

            $("#returnEnter").click(function() {
                $("#returnMoney").html(parseInt($("#returnValue").val()))
                completeCalculation();
            });

            $("#incomeClear").click(function() {
                $("#incomeValue").val(0)
            });

            $("#returnClear").click(function() {
                $("#returnValue").val(0)
            });

        </script>

        @restrict(roles = List(Array("productRequestList"))) {
            <a href="/productRequest_list" class="btn btn-sm">@messages("toList")</a>
        }
        @restrict(roles = List(Array("productRequestEdit"))) {
            <a href="/productRequest_update/@productRequest.id" class="btn btn-sm">@messages("edit")</a>
        }
        @restrict(roles = List(Array("productRequestDelete"))) {
           <a href="/productRequest_remove/@productRequest.id" class="btn btn-sm">@messages("remove")</a>
        }
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div style="display: inline-block;"> @messages("date"): </div>
                <div style="display: inline-block;" id="date">@productRequest.date</div>
            </div>
            <div class="col-md-2">
                <div style="display: inline-block;"> Employee: </div>
                <div style="display: inline-block;" id="employeeName">@productRequest.employeeName</div>
            </div>
            <div class="col-md-2">
                <div style="display: inline-block;"> Store: </div>
                <div style="display: inline-block;" id="storekeeperName">@productRequest.storekeeperName</div>
            </div>
            <div class="col-md-2">
                <div style="display: inline-block;"> @messages("status"): </div>
                <div style="display: inline-block;" id="status">@productRequest.status</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="table table-bordered">
                    <table class="table table-bordered" id="rows">
                        <thead>
                            <tr>
                                <th>@messages("product")</th>
                                <th>@messages("quantityShort")</th>
                                <th>@messages("subTotal")</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for(child <- children) {
                                <tr>
                                    <td>
                                        <img src="http://localhost:8081/assets/images/@(child.productId)_product.jpg" style="height: 20px;" alt="">
                                        <a href="/product_show/@child.productId" style="font-size: 9px;">@child.id : @child.productName</a>

                                    </td>
                                    <td><input type="text" name="quantity" value="@child.quantity" style="width: 70px;"></td>
                                    <td>@child.totalPrice</td>
                                    <td>
                                       @restrict(roles = List(Array("requestRowDelete"))) {
                                           <a href="/requestRow_removeFromCart/@child.id" class="btn btn-xs"><span class="glyphicon glyphicon-remove"></span></a>
                                       }
                                   </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="1">Total: <div style="display: inline;" id="totalMoney">@totalPrice</div></td>
                          <td colspan="1">In: <div style="display: inline;" id="incomeMoney">0</div></td>
                          <td colspan="1">Ret: <div style="display: inline;" id="returnMoney">0</div></td>
                          <td colspan="1"><div style="display: inline;" id="payCompleted"></div></td>
                        </tr>
                      </tfoot>
                    </table>
                </div>
            </div>
            <div class="col-md-7 col-sm-12" style="background: white;">
                <div class="">
                    <div style="display: inline-block;">
                        @form(routes.CartController.filterByCategoryPost()) {
                            @inputText(filterByCategoryForm("categoryName").copy(value=Option("All")), 'hidden -> "true", '_label -> "")
                            <button type="submit" class="btn" style="width: 100px;">All</button>
                        }
                    </div>
                    @for(category <- categories) {
                        <div style="display: inline-block;">
                            @form(routes.CartController.filterByCategoryPost()) {
                                @inputText(filterByCategoryForm("categoryName").copy(value=Option(category.name.toString())), 'hidden -> "true", '_label -> "")
                                <button type="submit" class="btn" style="width: 120px;">@category.name</button>
                            }
                        </div>
                    }
                </div>
                @for(product <- products) {
                    <div style=''>
                        @form(routes.CartController.addCartPost()) {
                            <div class="col-md-2 col-sm-3" style='background-image: url("http://localhost:8081/assets/images/@(product._1)_product.jpg"); height: 80px; display: inline-block; border-style: solid; border-width: 2px 2px 2px 2px; background-size: 100px 100px;'>
                                <span style="width: 20px; font-size: 10px;">@product._2</span>
                                @inputText(addCartRow("id").copy(value=Option(product._1.toString())), 'hidden -> "true", '_label -> "")
                                <button type="submit" class="btn btn-primary btn-xs" style="position: relative; top: -26px; left: 16px;"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
    <style>
        #categoryName_field {
            width: 0;
            height: 0;
            margin: 0;
            padding: 0;
        }
        #categoryName_field dt {
            width: 0;
            height: 0;
            margin: 0;
        }
    </style>
}
